NODE_ENV=development
PORT=3000
DATABASE_URL="mysql://u783931396_schoolerp:vohjax-0gucmo-qoDtiv@srv1012.hstgr.io:3306/u783931396_schoolerp"
JWT_SECRET="change_me_with_very_strong_secret"
JWT_EXPIRES_IN="1d"
SWAGGER_PATH="api/docs"
